body{
    background-color: lightgrey;
    color: black;
}
.center{
    text-align: center;
}
.img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}
.heathen{
    background-color:black;
}
