body{
    background-color: lightgrey;
body{
    background-color: lightgrey;
    color: black;
}
.center{
    text-align: center;
}
.img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav-link{
    text-decoration: none;
    color: black;
}
.nav-color{
    background-color: burlywood;
}
.heathen{
    background-color: black;
}
.margin-who{
    margin-top: auto;
    margin-bottom: auto;
}
.divider{
    height: 100px;
}
.footer{
    height:100px;
    color: lightgray;
}
